.header {
  background: #09665f;
}

body 
{
  background-color: #e0f9f8 !important;
}
.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header__title {
  color: black !important;
  text-decoration: none;
  h1 {
    border-left-width: 0px;
    margin-right: 0px;
  }
}
h1 {
  color:#2b2d30;
}

h1:link
{
  text-decoration: none;
}

.poll-title h1{
  text-align: left;
  margin-left: 10%;
}

.poll-title h1:visited {
  text-decoration-color: aqua !important;
}
.trending-polls {
  font-family: 'PT Sans', sans-serif;
  border: none;
  text-align: center !important;
  font-size: 40px;
  font-variant: normal !important;
  font-weight: bold !important;
}

.viewing-polls {
  font-family: 'PT Sans', sans-serif !important;
  border: none !important;
  text-align: center !important;
  font-size: 20px !important;
  font-variant: normal !important;
  font-weight: bold !important;
}


 .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #09665f;
}

.navbar li {
  float: left;
}


 li a {
  font-family: 'PT Sans', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  left: 50%;
}

li a:hover
{
  cursor: pointer;
  color: #d2d4d8;
}
