
.view-polls {
    color: white;
}
#poll-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    box-sizing: border-box; 
    box-pack: inherit;  
    border: 1px;
    box-sizing: content-box;
    background-color: white !important;
    width: 48%;
    margin: 1%;
    display: inline-block;
}

#poll-card-link div {
    display: inline-block;
}

#poll-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
h1 {
    position: relative;
    border-style: double;
    border-left-width: 0.5em;
    margin: 50%;
    font-family: Georgia, serif;
    color: #13315b;
    text-decoration: #fffcfc;
    text-decoration-line: #fffcfc;
    border-color: transparent;
}
h1:visited {
    color: #13315b;
    text-decoration: #fffcfc;
    text-decoration-line: #fffcfc;
}

.header__title h1 {
    text-align: left;
    border-style: none !important; 
    font-variant: small-caps;
    font-family: Georgia, serif;
    color: white;
}

h3 {
    color: black !important;
    font-family: Georgia, serif;
    font-variant: small-caps;
    border-style: dotted;
    border-color: #fffcfc;
    border-left-width: 0.5em;
}

p {
    font-family: Georgia, serif;
    margin-left: 1%;
    color: black !important;
}

label {
    color: black !important;
    font-family: Georgia, serif;
    margin-left: 1%;
}

.create-form label {
    margin-left: 10%;
}

span {
    font-family: Georgia, serif;
    color: black !important;
}

input[type="text"]{
  width: 80%;
  padding: 12px 20px;
  margin-left: 10%;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  
}

input[type="text"]:focus{
    width: 80%;
    padding: 12px 20px;
    margin-left: 10%;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    outline-color: #505050;
    outline-width: 1px
  }

.create-a-poll h1 {
    text-align: center;
}

.choices-list li {
    list-style-type: none;
    margin-left: 10%;
    width: 50%;

}