
.view-polls {
    color: white;
}
#poll-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    box-sizing: border-box; 
    box-pack: inherit;  
    border: 1px;
    box-sizing: content-box;
    background-color: #f2f9f9 !important;
    margin: 1%;
    display: inline-block;

}

div #poll-card {
    width: 48%;
}


@media (min-width: 700px) {
    div.poll-list #poll-card {
        width: 40%;
    }   
}

#poll-card-link div {
    display: inline-block;
}

#poll-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

p {
    font-family: 'PT Sans', sans-serif !important;
}
  
h1 {
    position: relative;
    border-style: double;
    border-left-width: 0.5em;
    margin: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #13315b;
    text-decoration: #fffcfc;
    text-decoration-line: #fffcfc;
    border-color: transparent;
}

#poll-card h1 {
    font-variant: normal;
    margin: 2%;
    font-weight: 500;
    text-decoration: none !important;
    text-decoration-line: none !important;
    font-family: 'PT Sans', sans-serif; 
    text-align: center;
}

#poll-card p {
    margin-left: 5%;
}

#poll-card h3 {
    margin-left: 5%;
}
h1:visited {
    color: #13315b;
    text-decoration: #fffcfc;
    text-decoration-line: #fffcfc;
    font-weight: normal;
}

.header__title h1 {
    text-align: left;
    border-style: none !important; 
    font-variant: small-caps;
    font-family: 'PT Sans', sans-serif; 
    color: white;
}

h3 {
    color: black !important;
    font-family: 'PT Sans', sans-serif;
    font-variant: small-caps;
    border-style: dotted;
    border-color: transparent;
}

p {
    font-family: 'PT Sans', sans-serif ;
    margin-left: 1%;
    color: black !important;
}

label {
    color: black !important;
    font-family: 'PT Sans', sans-serif;
    margin-left: 5%;
}

.create-form label {
    margin-left: 10%;
}

span {
    font-family: 'PT Sans', sans-serif ;
    color: black !important;
}

input[type="text"]{
    block-size: 50px;
  width: 80%;
  padding: 12px 20px;
  margin-left: 10%;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  
}

input[type="text"]:focus{
    width: 80%;
    padding: 12px 20px;
    margin-left: 10%;
    display: inline-block;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline-color: #505050;
    outline-width: 1px
  }

  input[type="button"] {
    block-size: 50px;
    padding: 12px 20px;
    border: none;

  }

  input[type="button"]:hover {
      background-color: #c9c9c9;
  }

.create-a-poll h1 {
    text-align: center;
    font-weight: normal;
    font-variant: small-caps;
}

.choices-list li {
    list-style-type: none;
    margin-left: 10%;
    width: 50%;

}

select {
    block-size: 50px;
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    outline-color: #505050;
    outline-width: 1px;
    background-color: white;
    margin-left: 10% !important;
}
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  input[type="date"]
  {
    block-size: 50px;
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    outline-color: #505050;
    outline-width: 1px;
    background-color: white;
    margin-left: 10% !important;
  }

  input[type="checkbox"] {
    margin-left: 10%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

input[type="submit"] {
    block-size: 50px;
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    outline-color: #505050;
    outline-width: 1px;
    background-color: #2b2d30;
    margin-left: 10% !important;
    color: white;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #4b4d51;
}

.viewing-polls h1 {
    text-align: center;
}

.filters {
    margin-left: 0%;
}

.filters span {
    margin-left: 10% !important;
    font-variant: small-caps;
    font-size: 30px;
}
.filters label {
    font-size: 20px;
    margin-left: 10%;
    font-variant: normal;
}

.filters select {
    margin: 1%;
    width: 50%;
    display: inline-block !important;
}

.filters input[type="text"] {
    margin-left: 10% !important;
    width: 50% !important;
    display: inline-block !important;
}

.DateRangePicker {
    border: none;
    border-color: transparent;
    font-family: 'Arial';
    width: 50%;
    margin-left: 10%;
    display: inline-block !important;
}

#link {
    color: hotpink !important;
  }

  a {
      text-decoration: none !important;
  }

  ul {
    list-style-type: none;
    list-style-position: outside;
  }

  #poll-card li::before {
      content: "     •    " !important;
      color: black !important;
  }