* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: 'Slabo 27px', serif;: 'PT Sans', sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  font-size: 20px;
  font-family: 'Slabo 27px', serif;: Georgia, serif;
  align-self: center;
  color: #13315b;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.error-alert {
  color: black;
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

button.button.active {
    background: #155d82;
}

.like {
  text-align: right;
  margin-right: 10%;
  font-variant: small-caps;
  font-size: 20px;
}
